body {
  background-color: #ca3309ce;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 6vmin);
  max-width: 100%;
  color: gold;
}

.logo {
  margin: auto;
  /* width: 20vh; */
  max-width: 30%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navLink {
  text-decoration: none;
  margin: 0% 2%;
  padding: 0% 5%;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.navLink:hover {
  background-color: gold;
  border-radius: 12px;
}

.popup {
  display: block;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  padding-bottom: 12%;
  z-index: 0;
  flex-direction: column;
  /* width: 80%; */
  top: 100%;
  /* position: relative; */
  transition: all 10s ease-out;
  height: 100%;
}

.infoText {
  margin: auto 12%;
}

.userSelect {
  display: flex;
  flex-direction: column;
}

.raritySelect {
  width: 90%;
  border-radius: 20px;
}

.rare {
  background-color: rgba(170 50 31);
}
.medium-rare {
  background-color: rgba(130 50 31);
}
.medium {
  background-color: rgba(113 50 31);
}
.medium-well {
  background-color: rgba(90 50 31);
}
.well {
  background-color: rgba(75 50 31);
}

button {
  margin: auto;
  height: 90%;
  background-color: brown;
  color: white;
  padding: 12px 20px;
}
