body {
  background-color: #ca3309ce;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  margin: auto;
  /* width: 20vh; */
  max-width: 30%;
}

.userSelect {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* button {
  margin: auto;
  width: 120px;
  height: 90%;
  background-color: brown;
  color: white;
  border-radius: 1px;
  padding: 12px 20px;
} */

.navBar {
  display: flex;
}

.navLink {
  text-decoration: none;
  margin: 0% 2%;
  padding: 0% 1%;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.popup {
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  padding-bottom: 12%;
  z-index: 0;
  flex-direction: column;
  width: 80%;
}

.infoText {
  margin: auto 12%;
}
