@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

body {
  background-color: #ca3309ce;
  font-family: "Silkscreen", cursive;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  max-width: 100%;
  color: beige;
  background: brown;
  border: 4px solid beige;
  border-radius: 12px;
  margin: 4% 2%;
  padding: 10px 10px;
}

.App-header:hover {
  background-color: darkred;
  color: brown;
}

.timerClock {
  font-size: calc(60px + 6vmin);
}

.timerDisplay {
  display: flex;
  justify-content: center;
  font-size: calc(60px + 6vmin);
  font-family: "Silkscreen", cursive;
  color: darkred;
  background: beige;
  margin: 8% auto;
  border: 12px solid brown;
  border-radius: 12px;
}

.timerMessage {
  font-size: 20px;
  font-size: calc(60px + 6vmin);
}

.steakWrapper {
  display: flex;
  justify-content: center;
  bottom: 0px;
}
.steak {
  width: 50vh;
  max-width: 100%;
}

.cardTemplate {
  display: flex;
  border: 12px solid beige;
  border-radius: 10px;
  background-color: beige;
  z-index: 0;
  flex-direction: column;
  border-radius: 16px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  padding: auto;
  margin-bottom: 200px;
}

.card {
  display: flex;
  justify-content: center;
  perspective: 150rem;
  margin: 2rem;
}

.back {
  transform: rotateY(-180deg);
  background-color: darkred;
  color: beige;
}

.front {
  background-color: beige;
  border: 12px solid brown;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

h2 {
  text-align: center;
  margin: 2vh;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
ul {
  margin: 10px;
  padding: 0;
}

.infoText {
  margin: auto 12%;
}

.userSelect {
  display: flex;
  flex-direction: column;
}

.raritySelect {
  width: 90%;
  border-radius: 20px;
}

.rare {
  background-color: rgba(170 50 31);
}
.medium-rare {
  background-color: rgba(150 50 31);
}
.medium {
  background-color: rgba(123 50 31);
}
.medium-well {
  background-color: rgba(108 50 31);
}
.well {
  background-color: rgb(94, 53, 43);
}

button {
  display: flex;
  justify-content: center;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: calc(20px + 3vmin);
  font-weight: 700;
  line-height: 1;
  transition: transform 320ms, background 200ms;
  font-family: "Silkscreen", cursive;
  margin: auto;
  color: beige;
  padding: 5px 20px;
  margin: 5px auto;
}
button:hover {
  transform: translateX(-5px);
}

.homeNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutNav,
.appNav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.navLink {
  text-decoration: none;
  margin: 0% 2%;
  padding: 0% 5%;
  font-size: 20px;
  background: brown;
  color: beige;
  border-radius: 8px;
}
.navLink:hover {
  color: darkred;
  background: beige;
  transition: transform 1500ms, background 1750ms;
}

#restart {
  text-decoration: none;
  background-color: beige;
}
#restart:visited {
  color: black;
  background-color: beige;
}

.pause_btn,
.flip_btn {
  background-color: darkred;
  transform: translateX(22px);
}

.pause_btn:hover,
.flip_btn:hover {
  background-color: brown;
  color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(20vh);
  z-index: 2;
}

.wrapper h2 {
  box-sizing: border-box;
  color: beige;
  border: 4px solid beige;
  border-radius: 16px;
  background: darkred;
  font-size: 3vh;
  margin: 6vh 4vh;
  padding: 10px;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  animation-name: animateSlogan;
}

.prompt {
  color: beige;
  font-style: italic;
}

.animateSlogan {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes animateSlogan {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

footer {
  width: 100%;
  background-color: brown;
  color: beige;
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  text-align: center;
}
